/* PADDINGS & MARGINS */
body {
    padding: 2rem;
}

main section {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

/* BORDERS */
main section,
.card {
    border: 1px solid #eee;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.7);
}

/* CENTER NAV BAR */
nav {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

/* CENTER HEADER & IMAGE */
.site-header {
    text-align: center;
}

.center-img {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

/* NAV BUTTON STYLING */
nav a {
    display: inline-block;
    padding: 0.4rem 1rem; /* PILL SHAPE BUTTON */
    margin-right: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7); /* SEE THROUGH */
    border: 2px solid #dda0dd; /* PASTEL PURPLE */
    border-radius: 999px; /* PILL SHAPE */
    text-decoration: none;
    color: #333; /* DARK TEXT FOR CONTRAST*/
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

nav a:hover {
  background-color: #dda0dd; /* PASTEL PURPLE */
  color: white; /* WHITE TEXT ON HOVER */
  border-color: #b57edc; /* DEEPER PURPLE */
}

/* TYPOGRAPHY */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

h1 {
    font-size: 2.4rem;
    letter-spacing: .5px;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #444;
}

p {
    line-height: 1.6;
}

/* IMAGES */
.center-img {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.center-img {
    img {
        border-radius: 10px;
    }
}

/* 3 COLUMNS*/
.columns {
    column-count: 3;
    column-gap: 20px;
    column-rule: 1px solid rgba(0, 0, 0, 0.1);
}

.columns {
    margin-top: 1rem;
}

/* CENTER TITLES AND CONTENT IN EACH COLUMN */ 
.columns > article {
    break-inside: avoid; 
    text-align: center;
    margin-bottom: 1rem;
}
.columns > article h3 {
    margin-top: 0;
}

/* BACKGROUND IMAGE*/
html,
body {
    height: 100%;
    margin: 0;
    background: url('Images/gallery/background.png') no-repeat center center fixed;
    background-size: cover;
}